.container {
    width: 500px;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcd6bc;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 10px solid #dcd6bc;
}

.grid div {
    font-size: 25px;
    text-align: center;
    font-family: "Roboto Mono", monospace ;
    width: 40px;
    height: 40px;
    border: solid 1px red ;
    box-sizing: border-box;
}